body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 100%;
}

.paginaEntera {
  height: 100vh;
  max-width: 100%;
  padding: 0;
  background-image: url(../img/winner.webp);
  background-size: cover;
  text-shadow: 5px 5px 5px red;
}

.fila {
  padding: 0;
  margin: 0;
  border: 0;
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: white;
  font-family: fantasy;
  font: bold 300% cursive;
}

a {
  color: white;
  font-family: fantasy;
  font: bold cursive;
}

.hueco{
    height: 20em;
}

.volverAjugar {
  background-color: #f24d8c;
  margin-top: 3em;
  color: white;
  font-family: fantasy;
  font: bold 40% cursive;
}
